header#masthead.masthead.half.right.text-right(data-aos='zoom-in', style='background-image: url(../img/illustration/events.svg);')
    .container.h-100
        .row.h-100.align-items-center.justify-content-end
            .col-lg-6
                h1.mb-4(data-aos='fade-right', data-aos-delay=300) Developer
                    span  Conference 2019
                p.lead.mb-4(data-aos='fade-left', data-aos-delay=500) 27 August 2019, Yogyakarta, Indonesia
                include ../counter.pug
