section#about.bg-light.info(data-aos='zoom-in')
    .container
        .row.justify-content-center
            .col-md-12.col-lg-6.info-item(data-aos='fade-left', data-aos-delay=200)
                i.fa.fa-volume-up.fa-3x.text-primary
                h3.section-content-heading What is all about?
                p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed massa nulla, pulvinar ullamcorper orci sit amet, fringilla semper ipsum.
            .col-md-6.col-lg-3.info-item(data-aos='fade-left', data-aos-delay=400)
                i.fa.fa-map-marker-alt.fa-3x.text-primary
                h3.section-content-heading Venue
                p Jogja City Mall, Jl. Magelang 14, Yogyakarta 12313 Indonesia
            .col-md-6.col-lg-3.info-item(data-aos='fade-left', data-aos-delay=600)
                i.fa.fa-calendar-alt.fa-3x.text-primary
                h3.section-content-heading When
                p 27 August 2019, 9am - 3pm GMT+7
