section.checkin
    .container.h-100
        .row.h-100
            .col-lg-8.col-md-10.mx-auto.text-center
                img.img-fluid.logo.mb-5(src='../img/logo.png')
                .row.mb-3
                    .col-md-9.form-group
                        input(type='email',placeholder='Enter your booking code').form-control.form-control-lg.form-control-underlined
                    .col-md-3.form-group
                        button.btn.btn-primary.btn-lg.btn-block.shadow
                            i.fas.fa-search
                .row.justify-content-center
                    .btn-group(role='group').shadow
                        a(href='#').btn.btn-light Scan QRCode
                        a(href='#').btn.btn-light Need Help?
