#countdown.countdown.d-flex.mb-4(data-date='December 26, 2022 10:00 am')
    .time(data-aos='fade-up-right', data-aos-delay=700)
        span#cd_d.value 00
        span Days
    .time(data-aos='fade-up-right', data-aos-delay=900)
        span#cd_h.value 00
        span Hours
    .time(data-aos='fade-up-right', data-aos-delay=1100)
        span#cd_m.value 00
        span Minutes
    .time(data-aos='fade-up-right', data-aos-delay=1300)
        span#cd_s.value 00
        span Seconds
