section.bg-light.gallery.py-0
    .container-wrap
        .row.no-gutters.justify-content-center.galleries
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg')
                    img(src='../img/image1.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg')
                    img(src='../img/image2.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg')
                    img(src='../img/image1.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg')
                    img(src='../img/image2.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg')
                    img(src='../img/image1.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg')
                    img(src='../img/image1.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg')
                    img(src='../img/image1.jpg').img-fluid
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg')
                    img(src='../img/image2.jpg').img-fluid
