section.bg-light.gallery.py-0
    .container-wrap
        .row.no-gutters.justify-content-center.gallery-list
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg', style='background-image: url(../img/image1.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg', style='background-image: url(../img/image2.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg', style='background-image: url(../img/image1.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg', style='background-image: url(../img/image2.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg', style='background-image: url(../img/image1.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg', style='background-image: url(../img/image2.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image1.jpg', style='background-image: url(../img/image1.jpg)')
                    i.fa.fa-search
            .col-lg-3.col-md-4.col-sm-6
                a(href='../img/image2.jpg', style='background-image: url(../img/image2.jpg)')
                    i.fa.fa-search
