header#masthead.masthead.small(data-aos='zoom-in')
    .container.h-100
        .row.h-100.align-items-center
            .col-lg-8.mx-auto.text-center
                h1 Mantab Djiwa
                p.load Register to Name Event
