header#masthead.masthead(data-aos='zoom-in')
    .container.h-100
        .row.h-100.align-items-center
            .col-12
                h1.mb-4(data-aos='fade-right', data-aos-delay=300) Developer
                    span  Conference 2019
                p.lead.mb-4(data-aos='fade-left', data-aos-delay=500) 27 August 2019, Yogyakarta, Indonesia
                #countdown.countdown.d-flex.mb-4
                    .time(data-aos='fade-up-right', data-aos-delay=700)
                        span.value 11
                        span Days
                    .time.pl-4(data-aos='fade-up-right', data-aos-delay=900)
                        span.value 14
                        span Hours
                    .time.pl-4(data-aos='fade-up-right', data-aos-delay=1100)
                        span.value 30
                        span Minutes
                    .time.pl-4(data-aos='fade-up-right', data-aos-delay=1300)
                        span.value 52
                        span Seconds
