section#register.bg-light.pricing(data-aos='zoom-in')
    .container
        .row
            .col-lg-8.mx-auto.text-center.mb-3
                h2.section-heading(data-aos='fade-left', data-aos-delay=200) Join Us
                p.lead(data-aos='fade-right', data-aos-delay=400) You are ready to go
        .row.justify-content-center
            .col-lg-8.mx-auto.text-center
                i.fa.fa-check-circle.fa-4x.text-success.mb-4(data-aos='fade-up', data-aos-delay=600)
                p(data-aos='fade-down', data-aos-delay=800) It is a free event, everyone is welcomed to join without registration.