section#regiter.bg-light.pricing
    .container
        .row
            .col-lg-8.mx-auto.text-center.mb-3
                h2.section-heading Register
                p.lead Book your seat right now
        .row.justify-content-center
            .col-md-6.col-lg-4
                .card.mb-5.mb-md-0.shadow
                    .card-body
                        h5.card-title.text-muted.text-uppercase.text-center Free
                        h6.card-price.text-center
                            | $0
                            span.period /month
                        hr
                        ul.fa-ul
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Single User
                            li
                              span.fa-li
                                i.fas.fa-check
                              | 5GB Storage
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Unlimited Public Projects
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Community Access
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Unlimited Private Projects
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Dedicated Phone Support
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Free Subdomain
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Monthly Status Reports
                        a.btn.btn-block.btn-primary.text-uppercase(href='#') Button
            .col-md-6.col-lg-4
                .card.mb-5.mb-md-0.shadow
                    .card-body
                        h5.card-title.text-muted.text-uppercase.text-center Premium
                        h6.card-price.text-center
                            | $120
                            span.period /month
                        hr
                        ul.fa-ul
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Single User
                            li
                              span.fa-li
                                i.fas.fa-check
                              | 5GB Storage
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Unlimited Public Projects
                            li
                              span.fa-li
                                i.fas.fa-check
                              | Community Access
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Unlimited Private Projects
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Dedicated Phone Support
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Free Subdomain
                            li.text-muted
                              span.fa-li
                                i.fas.fa-times
                              | Monthly Status Reports
                        a.btn.btn-block.btn-primary.text-uppercase(href='#') Button