section#schedule.bg-white
    .container
        .row
            .col-lg-8.mx-auto.text-center.mb-3
                h2.section-heading Event Rundown
                p.lead The details about schedule of the event from the start until the end
        .row.justify-content-center
            .col-12
                ul.timeline
                    li
                        .timeline-image.shadow
                            // img.rounded-circle.img-fluid(src='img/about/1.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 2009-2011
                                h4.subheading Our Humble Beginnings
                            .timeline-body
                                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image.shadow
                          // img.rounded-circle.img-fluid(src='img/about/2.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 March 2011
                                h4.subheading An Agency is Born
                            .timeline-body
                                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li
                        .timeline-image.shadow
                          // img.rounded-circle.img-fluid(src='img/about/3.jpg', alt='')
                        .timeline-panel
                            .timeline-heading
                                h3 December 2012
                                h4.subheading Transition to Full Service
                            .timeline-body
                                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image.shadow
                        .timeline-panel
                            .timeline-heading
                                h3 July 2014
                                h4.subheading Phase Two Expansion
                            .timeline-body
                                p.text-muted Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sunt ut voluptatum eius sapiente, totam reiciendis temporibus qui quibusdam, recusandae sit vero unde, sed, incidunt et ea quo dolore laudantium consectetur!
                    li.timeline-inverted
                        .timeline-image.shadow