section#speakers.speakers(data-aos='zoom-in')
    .container
        .row
            .col-lg-8.mx-auto.text-center.mb-3
                h2.section-heading(data-aos='fade-left', data-aos-delay=200) Meet The Speakers
                p.lead(data-aos='fade-right', data-aos-delay=400) These are amazing people who will share their thoughts to us
        .row.justify-content-center
            // Team Member 1
            .col-lg-4.col-md-6.mb-4.speaker-item
                .card.border-0.shadow(data-aos='fade-up', data-aos-delay=600)
                    img.card-img-top(src='https://source.unsplash.com/TMgQMXoglsM/500x350', alt='...')
                    .card-body.text-center
                        h5.card-title.mb-0 Team Member
                        .card-text Web Developer
                        .card-social
                            a(href='#')
                                i.fab.fa-facebook-f
                            a(href='#')
                                i.fab.fa-linkedin-in
                            a(href='#')
                                i.fab.fa-twitter
                            a(href='#')
                                i.fab.fa-instagram
            // Team Member 2
            .col-lg-4.col-md-6.mb-4.speaker-item
                .card.border-0.shadow(data-aos='fade-up', data-aos-delay=800)
                    img.card-img-top(src='https://source.unsplash.com/9UVmlIb0wJU/500x350', alt='...')
                    .card-body.text-center
                        h5.card-title.mb-0 Team Member
                        .card-text Web Developer
                        .card-social
                            a(href='#')
                                i.fab.fa-facebook-f
                            a(href='#')
                                i.fab.fa-linkedin-in
                            a(href='#')
                                i.fab.fa-twitter
                            a(href='#')
                                i.fab.fa-instagram
            // Team Member 3
            .col-lg-4.col-md-6.mb-4.speaker-item
                .card.border-0.shadow(data-aos='fade-up', data-aos-delay=1000)
                    img.card-img-top(src='https://source.unsplash.com/sNut2MqSmds/500x350', alt='...')
                    .card-body.text-center
                        h5.card-title.mb-0 Team Member
                        .card-text Web Developer
                        .card-social
                            a(href='#')
                                i.fab.fa-facebook-f
                            a(href='#')
                                i.fab.fa-linkedin-in
                            a(href='#')
                                i.fab.fa-twitter
                            a(href='#')
                                i.fab.fa-instagram