section#venue.bg-light.venue(data-aos='zoom-in')
    .container
        .row
            .col-lg-8.mx-auto.text-center.mb-3
                h2.section-heading(data-aos='fade-left', data-aos-delay=200) The Venue
                p.lead(data-aos='fade-right', data-aos-delay=400) We would like to introduce the special place where the event is going to be held
        .row
            .col-lg-6.col-map
                .embed-responsive(data-aos='zoom-in', data-aos-delay=600)
                    iframe.embed-responsive-item(src='https://maps.google.com/maps?q=Masjid%20pogung%20dalangan&t=&z=15&ie=UTF8&iwloc=&output=embed')
            .col-lg-6.d-flex.flex-column
                h3(data-aos='fade-left', data-aos-delay=800) Masjid Pogung Dalangan
                p(data-aos='fade-left', data-aos-delay=1000) Pogung Dalangan SIA XVI, RT.11/RW.50, Pogung Kidul, Sinduadi, Kec. Mlati, Kabupaten Sleman, Daerah Istimewa Yogyakarta 55284
                #location_images.carousel.slide(data-ride='carousel', data-aos='fade-left', data-aos-delay=1200)
                    // Indicators
                    ul.carousel-indicators
                        li.active(data-target='#location_images', data-slide-to='0')
                        li(data-target='#location_images', data-slide-to='1')
                    // The slideshow
                    .carousel-inner
                        .carousel-item.active
                            img(src='img/image1.jpg', alt='Los Angeles')
                        .carousel-item
                            img(src='img/image2.jpg', alt='Chicago')
                    // Left and right controls
                    a.carousel-control-prev(href='#location_images', data-slide='prev')
                        span.carousel-control-prev-icon
                    a.carousel-control-next(href='#location_images', data-slide='next')
                        span.carousel-control-next-icon
