extends include/layout.pug

block content
    ul
        li
            a(href='landing_1.html', target='_blank') Landing 1
        li
            a(href='landing_2.html', target='_blank') Landing 2 (Without Registration)
        li
            a(href='landing_3.html', target='_blank') Landing 3 (Centered header)
        li
            a(href='landing_4.html', target='_blank') Landing 4 (Half-right header)
        li
            a(href='landing_5.html', target='_blank') Landing 5
        li
            a(href='landing_6.html', target='_blank') Landing 6
        li
            a(href='register.html', target='_blank') Registration


block footer
    include include/footer.pug
