extends include/layout.pug

block content
    include include/nav.pug
    include include/header.pug
    include include/about.pug
    include include/speakers.pug
    include include/venue.pug
    include include/schedule.pug
    include include/no-register.pug

block footer
    include include/footer.pug